/**
 * Punt Club React
 *
 * @package    punt-club-react
 * @author     Chris Dorward <listingslab@gmail.com>
 */

@import './variables';



.clear {
  clear: both;
}
.pad-normal {
  margin: 25px;
}

h2 {
  font-size: 15px;
  text-transform: uppercase;
  background: red;
  padding: 10px;
}

#punt-club-react {

  font-family: "Muli";

  .punt-club-box-light{
    border: 1px solid rgba(0, 0, 0, 0.6);;
    background: rgba(255, 255, 255, 0.85);
    color: rgba(0, 0, 0, 0.95);
    text-align: left;
  }

  .punt-club-box-dark{
    margin-top: 10px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.95);
    background: rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, 0.95);
    text-align: left;
  }

  a {
    font-weight: bold;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.95);
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
  }
  .clear {
    clear:both;
  }
}
@media (max-width: 800px) {
  #punt-club-react {
    border-top: 16px solid $colour-two;
  }
}
@media (max-width: 600px) {
  #punt-club-react {
    border-top: 16px solid $colour-three;
  }
}
