/**
 * Punt Club React
 *
 * @package    punt-club-react
 * @author     Chris Dorward <listingslab@gmail.com>
 */

@import './libs/punt-club/variables';

//    border: 2px solid rgba(0, 0, 0, 0.8);;
//    background: rgba(0, 0, 0, 0.5);

$colour-body-bg: #ECEFF1;
$colour-trans-black: rgba(0, 0, 0, 0.5);
$colour-text: rgba(0, 0, 0, 1);

$colour-one: #ffcb2e;
$colour-two: #ffa712;
$colour-three: #f5820a;

$colour-white: #fff;
$box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
