& {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  //color: $text-color; SMELL: resolve scope leak
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  display: block;
}

h1, h2,
.h1, .h2 {
	color:		    $heading-color;
	font-family:	$heading-font-family;
	font-weight:	$heading-font-weight;
	line-height:	$heading-line-height;
	margin:			$heading-margin;
	text-transform: uppercase;
}
h3, h4, h5, h6,
.h3, .h4, .h5, .h6 {
	color:			$subheading-color;
	font-family:	$subheading-font-family;
	font-weight:	$subheading-font-weight;
	line-height:	$subheading-line-height;
	margin:			$subheading-margin;
}

h1, .h1 { font-size: unit($font-size-base * 3.14) }
h2, .h2 { font-size: unit($font-size-base * 2.35) }
h3, .h3 { font-size: unit($font-size-base * 1.618) }
h4, .h4 { font-size: unit($font-size-base * 1) }
h5, .h5 { font-size: unit($font-size-base * 0.85) }
h6, .h6 { font-size: unit($font-size-base * 0.7) }



h5, h6,
.h5, .h6 {
  text-transform: uppercase;
}

p {
  line-height: 1.333em;
}

strong {
	font-weight: 700;

  &.semi { font-weight: 500; }
}

.thin {	font-weight: 300; }


.copy {
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    color: inherit;
    margin: .3142em 0 .618em 0;

    &:last-child {
      margin-bottom: .3142em;
    }
  }

  p {
    &:first-child { margin-top: 0; }
    &:last-child  { margin-bottom: 0; }
  }
}

// should always
p {
  &:first-child { margin-top: 0; }
  &:last-child  { margin-bottom: 0; }
}