/**
 * Punt Club React
 *
 * @package    punt-club-react
 * @author     Chris Dorward <listingslab@gmail.com>
 */

.comments {
  border: 1px solid rgba(0,0,0, 0.7);
  margin-top: 25px;
  color: rgba(255,255,255, 0.9);
  h2 {
    background: rgba(0,0,0,0.6);
    color: rgba(255,255,255, 0.9);
  }
  img{
    width: 75px;
    margin: 15px;
  }
}
