.App {
  font-family: sans-serif;
  font-size: 0.8rem;
}

.nav {
  background: rgba(0,0,0, 0.1);
  margin: 15px;
  padding: 15px;
}

.main{
  margin: 15px;
  padding: 15px;
  text-align: center;
}

.github{
   width: 75px;
}

.black{
  color: black;
}

.forkit{
  padding-left: 15px;
}

.white{
  color: white;
}

ul, li{
	list-style: none;
}

a{
  text-decoration: none;
  color: white;
}

li a{
	text-decoration: none;
	color: black;
}

li a:hover{
	color: orange;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 1.6rem;
}
h2 {
  font-size: 1.2rem
}

.header-link a{
  color:black;
  text-decoration: none;
}

.header-link a:hover{
  color: orange;
}

.logo {
  float: right;
  margin-left: 10px;
  padding-top: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: black;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
